.link-lang{
  left: 0;
  top: 0;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(63, 63, 63, 0.5)
    ),
    url(../images/iman1.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Titan one";
}
.light-green {
  color: #37c21e;
}
.dark-green {
  color: #28b485;
}
.custom-background {
  background-color: rgb(240, 240, 240);
}
.heading-main {
  animation-name: move-up;
  animation-duration: 1s;
}
.heading-sub {
  animation-name: move-up;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media all and (max-width: 575px) {
  .custom-width {
    width: 8vw;
    padding: 0;
  }

  .navbar-brand {
    width: 22vw;
  }
  .image-2 {
    padding-top: 2rem;
  }
  .progress {
    height: 2vh;
  }
  .percentage {
    font-weight: 600;
  }
  .custom-height {
    height: 50vh;
  }
  .picture-tag {
    bottom: 0;
    color: aliceblue;
    font-family: "Titan one";
    background-color: rgba(63, 63, 63, 0.5);
  }
  .profile-pics {
    width: 20vw;
    border-radius: 100%;
  }
  .custom-font--paragraph {
    font-size: calc(9px + 1vw);
  }
  .custom-font--heading {
    font-size: calc(12px + 1vw);
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .navbar-brand {
    width: 19vw;
  }
  .image-2 {
    padding-top: 2rem;
  }
  .progress {
    height: 2vh;
  }
  .percentage {
    font-weight: 600;
  }
  .custom-height {
    height: 60vh;
  }
  .picture-tag {
    bottom: 0;
    left: 15px;
    color: aliceblue;
    font-family: "Titan one";
    background-color: rgba(63, 63, 63, 0.253);
  }
  .profile-pics {
    width: 18vw;
    border-radius: 100%;
  }
  .custom-font--paragraph {
    font-size: calc(9px + 1vw);
  }
  .custom-font--heading {
    font-size: calc(12px + 1vw);
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: 14vw;
  }

  .progress {
    height: 2vh;
  }
  .percentage {
    font-weight: 600;
  }
  .custom-height {
    height: 60vh;
  }
  .picture-tag {
    bottom: 0;
    left: 15px;
    color: aliceblue;
    font-family: "Titan one";
    background-color: rgba(63, 63, 63, 0.253);
  }
  .profile-pics {
    width: 6vw;
    border-radius: 100%;
  }
  .custom-font--paragraph {
    font-size: calc(6px + 1vw);
  }
  .custom-font--heading {
    font-size: calc(8px + 1vw);
  }


}
@media all and (min-width:992px)  and (max-width:1199px){
  .image-hover{
    overflow: hidden;
  }
  .image-hover img{
    transition: all 0.5s linear 0s;
    
  }
  .image-hover:hover img{
    filter:brightness(60%);
    transform: scale(1.05);
  }
  .image-hover:hover .picture-tag{
    display: block !important;
  }

  
.custom-width{
  width: 12vw;
}

  .progress {
    height: 2vh;
  }
  .percentage {
    font-weight: 600;
  }
  .custom-height {
    height: 90vh;
  }
  .picture-tag {
    bottom: 0;
    left: 15px;
    color: aliceblue;
    font-family: "Titan one";
    background-color: rgba(63, 63, 63, 0.253);
  }
  .profile-pics {
    width: 5vw;
    border-radius: 100%;
  }
  .custom-font--paragraph {
    font-size: calc(3px + 1vw);
  }
  .custom-font--heading {
    font-size: calc(6px + 1vw);
  }
  .image-2{
    height: 100vh;
  }
}
@media all and (min-width:1200px){

  .custom-width{
    width: 7vw;
  }
  
    .progress {
      height: 2vh;
    }
    .percentage {
      font-weight: 600;
    }
    .custom-height {
      height: 60vh;
    }
    .picture-tag {
      bottom: 0;
      left: 15px;
      color: aliceblue;
      font-family: "Titan one";
      background-color: rgba(63, 63, 63, 0.253);
    }
    .profile-pics {
      width: 3vw;
      border-radius: 100%;
    }
    .custom-font--paragraph {
      font-size: calc(1px + 1vw);
    }
    .custom-font--heading {
      font-size: calc(6px + 1vw);
    }
    .image-2{
      height: 90vh;
    }
    .image-hover{
      overflow: hidden;
    }
    .image-hover img{
      transition: all 0.5s linear 0s;
      
    }
    .image-hover:hover img{
      filter:brightness(60%);
      transform: scale(1.05);
    }
    .image-hover:hover .picture-tag{
      display: block !important;
    }
    .link-lang{
      left: 0;
      top: 0;
    }
  
}

